.header {
  grid-area: header;
}

.projectContentCon {
  grid-area: content;
}

.footerCon {
  grid-area: footer;
}

.content {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
