body, html {
  height: 100%;
}

#content {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
  min-height: 100vh;
}

.header, .footerCon {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  color: white;
  padding: 5px;
}

.projectCon {
  border: 2px gray solid;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin: .75rem;
}

.projectContentCon {
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

button {
  border-radius: 10px;
}